@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* box-sizing: border-box; */
}

:root {
}

body {
}

@layer utilities {
  .icon-container {
    margin-right: 4px;
    display: flex;
    align-items: center;
    margin: 0 8px;
    padding-bottom: 18px;
  }
}
